/* web fonts */
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800|Poppins:300,400,500,600,700,800,900");

/* Global CSS */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #777;
    /* font-family: ''; */
}

body .row-0 {
    margin-left: 0;
    margin-right: 0;
}

.all-area {
    overflow: hidden;
}

section,
.section {
    position: relative;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.container-fluid {
    padding: 0 5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    color: #000;
    margin-bottom: 0;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #949494;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    color: #b5985b;
}

a:hover {
    color: #00cff2;
}

a,
a:hover,
a:focus,
.btn:focus {
    text-decoration: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

ol,
ul {
    margin: 0;
    padding: 0;
}

ol li,
ul li {
    list-style: none;
}

img {
    height: auto;
    max-width: 100%;
}

.owl-carousel .owl-item img {
    width: auto;
}

.owl-prev:focus,
.owl-next:focus {
    outline: none;
}

.text-capitalize{
    text-transform: capitalize;
}

.nav-btn{
    background: #ed695a;
}

/* Padding */
.ptb_100{
    padding: 100px 0;
}

/* Header Area */

.navbar-brand img{
    max-width: 170px;
}

.navbar-sticky{
        position: fixed;
        width: 100%;
        height: 100px;
        background-color: #23323f;
        -webkit-box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.15);
        box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.15);
        border-bottom: none;
        z-index: 1000 !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 0rem;
    color: #fff;
    font-size: 17px;
}

.navbar-expand-lg .navbar-nav .nav-link:hover{
    color: #b5985b;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-light .navbar-toggler {
    border: none;
}

#toggle_menu{
    display: none;
}

/* side menu */

#sidemenu{
    position: fixed;
    right: -100%;
    width: 35%;
    height: 100vh;
    background: rgb(221, 221, 221);
    z-index:111;
    display: none;
    transition: 0.3s ease-in-out;
    top: 0;
}
.side_active{
    right:0px!important;
    transition: 0.3s ease-in-out;
}
.close_menu{
    width: 100%;
    position: relative;
}
.close_menu img{
    max-width: 25px;
    position: absolute;
    transform: translate(-50%, -50%);
    margin-top:35px;
    left: 10%;
    cursor: pointer;
}
#sidemenu ul{
    padding: 0;
    position: absolute;
    top: 28%;
    width: 100%;
}
#sidemenu ul li {
    list-style: none;
}
#sidemenu ul li a{
    display: block;
    padding: 5px;
    color: black;
    margin-top: 20px;
    text-decoration: none;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
}

#sidemenu ul li a:hover{
    color: #b5985b;
}

/* Banner section */
.hero{
    position: relative;
    padding-top: 150px;
    padding-bottom: 55px;
    background-color: #23323f;
    z-index: 999;
}

.hero:after{
    content: "";
    position: absolute;
    width: 35%;
    height: 100%;
    background-color:#edc82f;
    top: 0;
    z-index: -9;
    right: 0;
    display: block;
}

.hero-text{
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.hero-text h2{
    color: #fff;
    font-size: 58px;
    font-weight: 700;
    margin-bottom: 45px;
}

.hero-btn{
    margin-top: 60px;
}

.hero-btn a{
    color: #fff;
    background-color: #b5985b;
    padding: 16px 40px;
    font-size: 20px;
    text-transform: uppercase;
    transition: .3s ease;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 5px;
    transition: all .3s ease;
}

.hero-btn a:hover{
    background-color: #68542b;
}

.banner-side-img{
    position: relative;
}

.banner-side-img img{
    position: relative;
    z-index: 10
}

.banner-side-img::after{
    position: absolute;
    content: "";
    background-color: #34b251;
    height: 450px;
    width: 450px;
    border-radius: 50%;
    top: 65px;
    left: -35px;
    animation: animate-01 3s infinite;
}   

@-webkit-keyframes animate-01{
    0%{-webkit-transform:rotate(10deg);transform:rotate(10deg)}
    50%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
    100%{-webkit-transform:rotate(10deg);transform:rotate(10deg)}
}

@keyframes animate-01{
    0%{-webkit-transform:rotate(10deg);transform:rotate(10deg)}
    50%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
    100%{-webkit-transform:rotate(10deg);transform:rotate(10deg)}
}

/* Enq form section */
.banner-form{
    position: absolute;
    width: 100%;
    margin-top: -85px;
    z-index: 999;
}

.main-form {
    background: #fff;
    box-shadow: 0 4px 8px rgb(0 0 0 / 15%);
    border-radius: 5px;
}

.form-header-box {
    background: #b5985b;
    min-height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
}

.form-header-box h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 23px;
    letter-spacing: 2px;
    font-weight: 600;
}

.form-box {
    padding: 40px 20px 20px 20px;
}

.form-box form {
    display: flex;
}

.form-box .form-control {
    background: #f1f0f0;
    height: 60px;
    padding: 0.375rem 0.9rem;
    margin-bottom: 20px;
    border: transparent;
}
.form-box input[type=submit]{
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #b5985b;
    color: #fff;
    transition: all .3s ease;
}

.form-box input[type=submit]:hover{
    background-color: #68542b;
}

/* .banner-form .enq-form{
    position: relative;
    background: #FF1949;
    width: 100%;
    padding: 20px 60px 40px;
    border-radius: 10px;
}

.banner-form .enq-form:before{
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: url(../img/banner/bg-do2.png);
    opacity: .3;
}

.form-box{
    margin-top: 40px;
}

.form-box form{
    display: flex;
}

form input.inp{
    border: 1px solid #dddddd;
    color: #222222;
    font-size: 14px;
    height: 45px;
    padding-left: 15px;
    width: 100%;
} */




/* About section */
.about-area{
    position: relative;
    background-color: #f7f6ff;
}

.about-content{
    max-width: 975px;
    margin: 0 auto;
    text-align: center;
}

.about-content p{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}

.about-head{
    margin-bottom: 65px;
}

.about-head h1{
    font-weight: 700;
    font-size: 55px;
    text-transform: uppercase;
}

.about-head p{
    font-size: 20px;
    color: #222;
    font-weight: 500;
}

.dots-yellow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.dots-yellow .dots-one, .dots-yellow .dots-two, .dots-yellow .dots-three {
    margin-right: 10px;
    background-color: #e69746;
    height: 8px;
    width: 8px;
    border-radius: 50%;
}

.bg-top-full {
    position: absolute;
    background-image: url(../img/about/bg-top.png);
    background-position: center;
    top: -50px;
    left: -125px;
    max-width: 500px;
    width: 500px;
    height: 300px;
}

.bg-bottom-full {
    position: absolute;
    background-image: url(../img/about/bg-btm.png);
    background-position: center;
    bottom: -53px;
    right: -125px;
    max-width: 500px;
    width: 500px;
    height: 300px;
}

/* Specialities section */
.our-specialities{
    width: 100%;
    display: flex;
    position: relative;
    z-index: 11;
}

.spec-content{
    background: #146abd;
    width: 100%;
    background-image: url(../img/specialities/course-banner.jpg);
    background-size: cover;
    background-position: center;
}

.spec-content-inner{
    margin: 25px 0;
    padding: 70px 0;
}

.spec-content-inner h1{
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    margin-left: 2%;
}

.spec-content-inner h1:after{
    content: "";
    background: #fff;
    width: 20%;
    height: 4px;
    display: block;
    position: absolute;
    bottom: -8px;
}

.spec-boxes{
    margin-top: 70px;
}

.spec-box-inner{
    background: #fff;
    padding: 22px 13px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 22px;
}

.spec-box-inner h5{
    font-weight: 600;
    margin: 15px 0;
    font-size: 22px;
}

.spec-box-inner p{
    font-size: 16px;
    font-weight: 500;
}

.spec-box-inner .icon img{
    max-width: 55px;
}

/* Testimonials section */
.testi-section{
    background-color: #fff;
}

.testi-heading{
    margin-bottom: 60px;
}

.testi-sub {
    text-transform: uppercase;
    font-size: 13px;
    color: #385777;
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
    padding-left: 50px;
    display: inline-block;
}

.testi-sub:before{
    position: absolute;
    content: "";
    left: 0px;
    width: 40px;
    height: 2px;
    background: #b5985b;
    top: 0px;
    bottom: 0px;
    margin: auto 0px;
}

.testi-heading h3{
    font-size: 36px;
}

.single-testi {
    background-color: #fff;
    -webkit-box-shadow: 0 0 5px -2px hsla(0, 0%, 0%, 0.15);
    box-shadow: 0 0 5px -2px hsla(0, 0%, 0%, 0.15);
    border-radius: 10px;
    margin-top: 60px !important;
}

.single-testi .client-info{
    margin-bottom: 25px;
    border-radius: 14px;
    padding: 40px 30px 30px 40px;
    position: relative;
    border: 1px solid #eee;
    border-top: 2px solid #b5985b;
}

.rating{
    margin-top: 10px;
}

.client-info p{
    line-height: 33px;
    font-size: 18px;
    margin: 20px 0;
}

.client-details{
    display: flex;
    align-items: center;
}

.client-details .client-img{
    width: 90px;
    height: 90px;
    margin-left: 15px;
}

.client-details .client-img img{
    border-radius: 100%;
}

.client-name{
    margin-left: 20px;
}

.client-name p{
    color: #ed695a;
}

.testi-slider .owl-nav{
    display: block !important;
    position: absolute;
    left: -385px;
    bottom: 110px;
}

.testi-slider .owl-nav button{
    width: 50px;
    height: 50px;
    border: 1px solid #b5985b !important;
    background-color: #b5985b !important;
    border-radius: 50px;
    margin-right: 5px;
}

.testi-slider .owl-nav button span{
    font-size: 40px;
    color: #fff;
}

.testi-slider .owl-nav [class*=owl-]:hover{
    background-color: #fff !important;
}

.testi-slider .owl-nav button:hover span{
    color: #b5985b;
}

.owl-prev{
    font-size: 50px
}

.icon-testi{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    border: 2px solid #b5985b;
    margin-bottom: 15px;
    text-align: center;
}

.icon-testi img{
        max-width: 30px;
        margin: 0 auto;
        margin-top: 8px;
}


/* Contact Area */
.map-content {
    position: relative;
    width: 100%;
    bottom: -10px;
}

.map-content iframe {
    width: 100%;
    border: none;
    height: 500px;
}

.row-centered {
    text-align: center;
    position: relative;
    width: 100%;
}

.row-centered .col-centered {
    display: inline-block;
    float: none;
    text-align: center;
}

.form-contact-inner {
    background-color: #ffffff;
    padding: 50px 40px;
    margin-top: -120px;
    border-radius: 10px;
    box-shadow: 0 8px 28px 2px rgb(61 61 61 / 12%);
}

.form-contact-inner {
    padding: 30px 30px !important;
}

.form-contact-inner .title-h2 {
    font-size: 42px;
    color: #1B1344;
    line-height: 46px;
    margin-bottom: 20px;
    font-weight: 500;
}

.form-contact-inner form {
    margin-top: 60px;
}

.form-contact-inner form input {
    margin-bottom: 50px;
    border-bottom: 1px solid #e4e4e4 !important;
    border-radius: 0;
    border: none;
}

.mg-tp-30 {
    margin-top: 30px;
}

.btn-orange {
    background-color: #1B1344;
    color: #ffffff;
    border: 2px solid #1B1344;
    padding: 10px 35px;
    border-radius: 23px;
}

.btn-orange:hover{
    color: #fff;
}

.form-contact{
    background-color: #23323f;
}

/* Footer */
footer {
    padding-top: 50px;
    background-color: #23323f;
}

footer .footer-top {
    text-align: center;
    position: relative;
    padding: 30px 0 40px 0;
}

footer .footer-top .logo-footer {
    margin-bottom: 15px
}

footer .footer-top .footer-address p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 28px;
}

footer .menu-footer ul li {
    display: inline-block;
    margin-right: 20px;
}

footer .menu-footer ul li a {
    color: #fff;
    font-size: 18px;
}

footer .menu-footer ul li a:hover{
    color: #b5985b ;
}

footer .copyright {
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #8F8F8F;
}

footer .copyright p{
    font-size: 16px !important;
    color: #8F8F8F;
    font-weight: 500;
}

/* Popup */
.modal{
    overflow-x: hidden;
    overflow-y: auto;
    background: rgba(0,0,0,.7);
}

.modal-dialog{
    max-width: 900px;
}
.modal-title{
    font-size: 35px;
    font-weight: 700;
}

.modal-content, .modal-body{
    border: 0;
    padding: 0;
    border-radius: 0;
}

.modal-left{
    width: 50%;
    float: left;
    height: 480px;
    background: url(../img/banner/hero-5-img.png) center no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 60px;
}

.modal-left .overlay{
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal-right{
    width: 50%;
    float: left;
    height: 480px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px 60px;
}

.modal-right form{
    width: 100%;
}

.modal-right form .form-group{
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.modal-right input{
    float: left;
    height: 45px;
    width: 100%;
    border: 0;
    outline: none;
    color: #333;
    font-size: 16px;
    border-bottom: 1px solid rgba(0,0,0,.2);
    border-radius: 0;
    padding: .375rem 0;
}

.modal-heading{
    position: absolute;
    top: 0;
    padding: 25px;
}

.modal-heading h3{
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

.modal-body button.close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 25px;
    z-index: 9999;
}

.modal-body button.close i{
    font-size: 15px;
    border: 1px solid #ed695a;
    padding: 10px;
    border-radius: 50%;
    background: #ed695a;
}

/* Courses Area */
.course-section{
    margin-top: 140px;
}

.course-header h2{
    line-height: 1.25;
    font-weight: 700;
    font-size: 2.8rem;
}

.course-card{
    border: 1px solid #e5e8ed;
    margin-bottom: 30px;
    flex-wrap: wrap;
    /* box-shadow: 0 1.75rem 1.875rem rgb(154 156 165 / 8%), 0 1.25rem 1rem rgb(154 156 165 / 5%), 0 0.5rem 0.625rem rgb(154 156 165 / 4%), 0 0.25rem 0.25rem rgb(30 33 44 / 3%) !important */
}

.course-card:hover{
    /* box-shadow: 0 1.75rem 1.875rem rgb(154 156 165 / 16%), 0 1.25rem 1rem -0.25rem rgb(154 156 165 / 10%), 0 0.5rem 0.625rem rgb(154 156 165 / 8%), 0 0.25rem 0.25rem rgb(30 33 44 / 5%) !important; */
}

.course-card-img{
    width: 40%;
}
.c-img-4{
    background: url(../img/courses/cs.jpg);
    background-size: cover;
}

.c-img-5{
    background: url(../img/courses/our-cources_03.jpg);
    background-size: cover;
}

.c-img-6{
    background: url(../img/courses/our-cources_06.jpg);
    background-size: cover;
}

.c-img-8{
    background: url(../img/courses/general.jpg);
    background-size: cover;
}

.c-img-9{
    background: url(../img/courses/our-cources_04.jpg);
    background-size: cover;
}

.c-img-10{
    background: url(../img/courses/commerce.jpg);
    background-size: cover;
}

.course-card-content{
    padding: 1.9875rem;
    width: 60%;
}

.course-card-content p{
    margin-bottom: 10px;
}

.badge{
    font-size: 20px;
    margin-bottom: 1rem;
    color: #fff;
    display: inline-block;
    padding: .25rem .5rem;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    border-radius: .25rem;
}

.badge-1{
    background: #03cea4;
}

.badge-2{
    background: #5a87fc;
}

.badge-3{
    background: #f89828
}

.badge-4{
    background: #F52F6E;
}

.course-card-content p{
    font-size: 16px;
}

.featured-slider .owl-nav{
    position: absolute;
    right: 0;
    top: -90px;
}

.featured-slider .owl-nav button{
    border: 1px solid #ddd !important; 
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.featured-slider .owl-nav button:last-of-type{
    margin-right: 0;
}

.featured-slider .owl-nav button span{
    font-size: 45px;
    color: #ddd;
    line-height: 40px;
}

.featured-slider .owl-nav [class*=owl-]:hover{
    background-color: #b5985b;
    border: 1px solid #b5985b !important;
}

.featured-slider .owl-nav [class*=owl-]:hover span{
    color : #fff;
}

.course-header2 h2{
    font-size: 30px;
    margin-bottom: 40px;
}

.form-box2 form{
    display: block;
}

.form-box2{
    padding: 0;
}

.form-course{
    padding-bottom: 70px;
}

.form-course .container{
    background-color: #ddd;
    padding: 50px;
}

.course-section{
    padding-bottom: 50px;
}

.form-box2 .form-control{
    margin-bottom: 32px;
}

/* Modal Courses */
.modal-course{
    z-index: 99999;
}

.modal-dialog-course{
    max-width: 500px;
}

.modal-course .modal-body{
    padding: 20px;
}

.modal-course .modal-title{
    font-size: 25px;
}

/* team section */
.team-section{
    background-color: #fff;
    z-index: 20;
}

.single-team{
    position: relative;
}

.card-img{
    position: relative;
    overflow: hidden;
}

.card-img:before{
    display: block;
    position: absolute;
    background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
    transition: opacity .4s;
    opacity: 0;
    content: '';
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card-floating{
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    opacity: 0;
    transition: opacity .4s ease-in-out;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    z-index: 3;
}

.card-floating a:hover{
    color: #fff;
}

.social-btn {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    padding: initial;
    border: 1px solid transparent;
    color: #787a80;
    transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out, color 0.25s ease-in-out;
    font-size: 1.25rem;
    text-align: center;
    text-decoration: none;
}

.social-btn.sb-light {
    color: rgba(255, 255, 255, 0.6);
}

.single-team:hover .card-floating{
    opacity: 1;
}

.single-team:hover .card-img:before{
    opacity: 1;
}

.card-body h4{
    font-weight: 700;
    margin-bottom: .25rem;
    font-size: 25px;
    color: #1e212c;
    line-height: 1.45;
}

 .card-body p{
     color: #787a80 !important;
     font-size: 17px;
 }

 .team-slider .owl-nav{
     position: absolute;
     right: 0;
     top: -80px;
 }

.team-slider .owl-nav button{
    width: 50px;
    height: 50px;
    border: 1px solid #b5985b !important;
    background-color: #b5985b !important;
    margin-right: 5px;
}

.team-slider .owl-nav button span{
    font-size: 40px;
    color: #fff;
}

.team-slider .owl-nav [class*=owl-]:hover {
    background-color: #fff !important;
}

.team-slider .owl-nav [class*=owl-]:hover span{
    color: #b5985b !important;
}

/* 
whatsappp btn */

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:85px;
	right:15px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index: 999;
    display: none;
}

.my-float{
	margin-top:15px;
}

.float:hover{
    color: #fff;
}
